<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="showBackButton">
      <ion-back-button [icon]="backIcon" (click)="onBackClick()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onNotificationClick()" *ngIf="unreadNotifications > 0">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="danger">{{ unreadNotifications }}</ion-badge>
      </ion-button>
      <ion-button (click)="onNotificationClick()" *ngIf="unreadNotifications === 0">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onProfileClick()" *ngIf="showProfileButton">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
      <ng-content select="[slot='end']"></ng-content>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
