<ion-button 
  [color]="type === 'secondary' ? 'success' : type === 'outline' ? 'medium' : type === 'clear' ? 'light' : 'primary'"
  [size]="size"
  [expand]="expand"
  [disabled]="disabled || loading"
  (click)="onClick()">
  <ion-icon *ngIf="icon && iconPosition === 'start' && !loading" slot="start" [name]="icon"></ion-icon>
  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
  <span>{{ text }}</span>
  <ion-icon *ngIf="icon && iconPosition === 'end' && !loading" slot="end" [name]="icon"></ion-icon>
</ion-button>
