<ion-item class="input-wrapper" lines="none">
  <ion-label position="floating" *ngIf="label">{{ label }}</ion-label>
  <ion-icon *ngIf="icon" slot="start" [name]="icon"></ion-icon>
  
  <ion-input
    *ngIf="type !== 'password'"
    [type]="type"
    [placeholder]="placeholder"
    [value]="value"
    (ionChange)="onInputChange($event)"
    (ionBlur)="onTouched()"
    [disabled]="disabled">
  </ion-input>

  <ion-input
    *ngIf="type === 'password'"
    [type]="showPassword ? 'text' : 'password'"
    [placeholder]="placeholder"
    [value]="value"
    (ionChange)="onInputChange($event)"
    (ionBlur)="onTouched()"
    [disabled]="disabled">
  </ion-input>

  <ion-icon
    *ngIf="type === 'password'"
    slot="end"
    [name]="showPassword ? 'eye-off' : 'eye'"
    (click)="showPassword = !showPassword"
    class="password-toggle">
  </ion-icon>
</ion-item>

<ion-text color="danger" *ngIf="error" class="error-text">
  <p>{{ error }}</p>
</ion-text>
<div class="input-wrapper">
  <ion-item [class.ion-invalid]="error" [class.ion-touched]="error" lines="none" class="custom-input">
    <ion-icon *ngIf="icon" [name]="icon" slot="start" class="input-icon"></ion-icon>
    <ion-label position="stacked" *ngIf="label">{{ label }}</ion-label>
    <ion-input
      [type]="inputType"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [value]="value"
      (ionInput)="onInputChange($event)"
      (ionBlur)="onTouched()">
    </ion-input>
    <ion-icon 
      *ngIf="type === 'password'" 
      [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" 
      slot="end" 
      class="password-toggle"
      (click)="togglePassword()">
    </ion-icon>
  </ion-item>
  <div class="error-message" *ngIf="error">
    <ion-icon name="alert-circle-outline"></ion-icon>
    <span>{{ error }}</span>
  </div>
</div>
