<ion-header>
  <ion-toolbar>
    <ion-title>Perfumes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFilter()">
        <ion-icon name="filter" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Modal con el componente Searchbar -->
  <ion-modal [isOpen]="filterOpen" (didDismiss)="closeFilter()" cssClass="filter-modal">
    <ng-template>
      <div class="filter-panel">
        <app-searchbar></app-searchbar>
        <ion-button expand="block" (click)="closeFilter()">Cerrar</ion-button>
      </div>
    </ng-template>
  </ion-modal>

  <!-- Lista de productos -->
  <div class="products-list">
    <div class="grid">
      <div class="col" *ngFor="let p of products">
        <app-card
          [title]="p.title"
          [description]="p.description"
          [image]="p.image"
          [price]="p.price"
          [size]="p.size"
          [stock]="p.stock"
          (viewProduct)="onView(p)"
          (buyProduct)="onBuy(p)"
        ></app-card>
      </div>
    </div>
  </div>
</ion-content>
