<app-header
  [showBackButton]="true"
  (backClicked)="goBack()"
  (logoutClicked)="logout()"
  (homeClicked)="goHome()">
</app-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="products-list">
    <div class="grid">
      <div class="col" *ngFor="let p of products">
        <app-card
          [title]="p.title"
          [description]="p.description"
          [image]="p.image"
          [price]="p.price"
          [size]="p.size"
          [stock]="p.stock"
          (viewProduct)="onView(p)"
          (buyProduct)="onBuy(p)"
        ></app-card>
      </div>
    </div>
  </div>
</ion-content>
